.profile {

    width: 500px;
    background-color: white;
    color: black;
    
}

.stats {
    list-style-type: none;
}

.avatar {
    margin-top: 10px;
}

.name {
    font-size: 25px;
}

.ul {
    border: 1px solid black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 50px;
}

.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 2%;
    width: 400px;
}

.container {
    display: flex;
    justify-content: center;
}